.column__tips--1{


    tr{ 
    color:coral; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    }

    table{ 
    margin-top: 20px;
    width: 780px;
    padding: 10px;
    bottom: 10px;
    float: right;
    box-shadow: 0 0 0.5rem black;
    } 
}

